<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Dashboard</title>
</head>
<body>
    <main>
      <article>
        <section>
          <div>
            <h1>Welcome to your DashBoard!</h1>
            <p>Hy -[user]- 🙌 </p>
            <p>We're thrilled to have you on board. This is your personal dashboard, where you can manage all your account activities and settings. Let's get started!</p>
          </div>
          <div>
            <h2>Your Account Overview</h2>
            <ul>
              <li>Username: -[user]-</li>
              <li>Email: -[email]-</li>
              <li>Account Type: Basic</li>
              <li>Joined on: -[joinDate]-</li>
            </ul>
          </div>
          <div>
            <form action="/logout" method="post">
              <button>Logout</button>
            </form>
          </div>
        </section>
        <!-- <section >
          <span class="avatar">
            <img src="https://api.dicebear.com/9.x/adventurer-neutral/svg?seed={{user}}&radius=50&size=100" alt="avatar">
          </span>
        </section> -->
      </article>
    </main>
</body>
</html>